@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: rgb(236, 236, 236);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	-primary-text-color: #181820;
	-secondary-text-color: #5c5c62;
	-on-secondary-text-color: #9099a0;
	-durability-text-color: #6a737d9c;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
}

.fh {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login_form {
	text-align: center;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 2px 2px 3px 3px #ccc;
	border-radius: 5px;
}

.login_form p {
	margin: 10px;
	text-align: center;
}

.login_input {
	padding: 10px;
	margin: 5px 10px;
}

.content {
	height: 100%;
	width: 30%;
	margin: 5px auto;
}

.inline_inputs {
	display: flex;
	flex-direction: row;
}

.inline_inputs .login_input {
	flex: 1;
}

.content_header {
	padding-top: 20px;
	text-align: center;
	color: rgb(77, 24, 221);
}

.languages {
	padding: 10px 30px;
	width: 100%;
	background-color: white;
}

.registration_link {
	margin-bottom: 10px;
}

.logo {
	width: 100px;
	height: 25px;
	background: url(../img/logo.png) center center no-repeat;
	background-size: cover;
}

.navigation li {
	display: inline;
}